/*------------------------------------------------------
------------------------ GENERAL -----------------------
------------------------------------------------------*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

p {
	text-align : justify;
}

h1 {
	margin-bottom: 20px;
}
h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

footer {
	bottom:0px;
}

/*------------------------------------------------------
--------------------- MENÚ SUPERIOR --------------------
------------------------------------------------------*/
nav#menuSuperior {
	z-index: 2;
	width: 100%;
	height: 70px;
	border-bottom: 2px solid #d6d6d6;
	background-color: #3dbd09;
	color: white;
	padding: 0px 10vw;
}

div[class="left"]{
	width: 57%;
}
nav#menuSuperior div[class="right"]{
	float: right;
	width: 43%;
}

nav#menuSuperior div[class="right"] a{
	display: inline-block;
	float: right;
}

nav#menuSuperior div[class~="dropdown"]{
	margin-right: 5px;
}
nav#menuSuperior a[class~="noActivada"], nav#menuSuperior a[class~="sesion"]{
	color: white;
	background-color: #3dbd09;
}
nav#menuSuperior a[class~="sesion"]{
	padding: 5px;
	display: block;
	border-radius: 5px;
	padding: 7px;
	margin-right: 5px;
}
nav#menuSuperior a[class~="dropdown-item"]:hover{
	color: white;
	background-color: #57de20;
}
nav#menuSuperior a[class~="noActivada"]:hover, nav#menuSuperior a[class~="activada"]{
	color: #3dbd09;
	background-color: white;
}
nav#menuSuperior a[class~="sesion"]:hover{
	color: #3dbd09;
	background-color: white;
	border-radius: 3px;
}

/* Breakpoint para que colapse el menu del menu superior*/
@media (min-width: 1165px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}


/*------------------------------------------------------
--------------------- MENÚ DROPDOWN --------------------
------------------------------------------------------*/
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*------------------------------------------------------
------------------------ FOOTER ------------------------
------------------------------------------------------*/
.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 30px 100px;
	margin-top: 50px;
}

.footer-left{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */
p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}


/*------------------------------------------------------
---------------------- MENÚ LOGIN ----------------------
------------------------------------------------------*/
form[class~='sesion'] {
	z-index: 1;
	width: 450px;
	height: 265px;
	left: 0;
	background-color: #ececec;
	overflow-x: hidden;
	margin-top: 100px;
	border: 2px solid #d6d6d6;
	text-align: center;
	margin: auto;
}

/*------------------------------------------------------
--------------------- FORMULARIOS ----------------------
------------------------------------------------------*/
input[type="text"], input[type="password"]{
	outline: none;
	padding: 20px;
	display: block;
	width: 300px;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: 20px auto;
}

input[type="submit"], input[type="reset"], button[type="reset"], button[class~="volver"]{
	padding: 10px;
	width: 200px;
	margin-top: 0;
	margin-right: 10px;
	cursor: pointer;
	border: 0;
	border-radius: 3px;
	color: #fff;
}

input[type="reset"], button[type="reset"]{
	background: #0098cb;
}
input[type="reset"]:hover, button[type="reset"]:hover{
	background-color: #00b8eb; 
}
button[class~="volver"]{
	background: #e40613;
}
button[class~="volver"]:hover{
	background: #f00;
}
button[class~="crear"]{
	padding: 10px;
	width: 150px;
	height: 50px;
	margin-top: 0;
	margin-right: 10px;
	cursor: pointer;
	border: 0;
	border-radius: 3px;
	color: #fff;
	background-color: #3dbd09;
}
input[class~="buscar"]{
  	transform: translateY(25%);	
 	height: 50px;
 	width: 140px;
	color: #fff;
	background-color: #57de20;
}

div[class~="campoForm"]{
	padding-right: 2vw;
}


/*------------------------------------------------------
--------------------- CONTENIDO ----------------------
------------------------------------------------------*/
div.contenido{
	padding:  35px 20px;
	min-height: 513px;
	margin: 0 auto -160px;
}

.titulo, form#formBuscarLista{
	padding-bottom: 15px;
}

.subtitulo{
	padding-top: 30px;
}

form#formCrearColegiado *{
	margin-right:10px;
}
*[class~="text-center"]{
	text-align: center;
}
*[class~="text-justified"]{
	text-align: justify;
}
thead *{
	color: black
}
table{
	margin: auto;
}

*[class~="prt"]{
	margin: auto;
}


/*------------------------------------------------------
------------------------ PRUEBAS -----------------------
------------------------------------------------------*/
input[class~="customInput"], select[class~="customInput"]{
	weight: 400px;
    width: 12em;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    border-color: #ced4da;
}

textarea[class~="customInput"]{
    margin-top: 0px;
    margin-bottom: 10px;
}
select[class~="customFilter"]{
	weight: 400px;
    width: 10em;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    border-color: #ced4da;
}

label[class~="etiqueta"]{
	margin-bottom: 0px;
}

div[class~="card"], thead{
	background-color: #e0d9d8;
}



html, body {
  height: 100%;
  margin: 0;
}

div[class~="footer"], div[class~="push"] {
  height: 160px;
}


select[class~="inTable"]{
	border: none;
	width: 100%;
}

.titulo div[class="left"], .subtitulo div[class="left"],{
	width: 70%;
}
.titulo div[class="right"], .subtitulo div[class="right"]{
	float: right;
	width: 30%;
}

div[class="right"] button{
	display: inline-block;
	float: right;
}

div.botonera{
	padding-top: 15px;
}

div.botonera input, div.botonera button {
	margin-left: 5vw;
}

.fa-times{
	color: red;
	font-size: 20px;
}
